<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	<link rel="icon" type="image/png" href="{$basePath}/favicon.ico">
	{block css}
		<link rel="stylesheet" href="{$basePath}/css/style.css">
	{/block}

	<title>{ifset title}{include title|stripHtml} | {/ifset}Nette Web</title>
</head>

<body>
	<div n:foreach="$flashes as $flash" n:class="flash, $flash->type">{$flash->message}</div>

	<header>
		<ul class="navig">
			<li>
				<a n:href="Home:" class="left">Articles</a>
				<a n:href="Edit:create" n:if="$user->isLoggedIn()" class="left">Create article</a>
			</li>
			
			{if $user->isLoggedIn()}
				<li><a n:href="Sign:out" class="right">Sign out</a></li>
			{else}
				<li><a n:href="Sign:in" class="right">Sign in</a></li>
			{/if}
		</ul>
	</header>

	<main>
		{include content}
	</main>

	{block scripts}
		<script src="https://unpkg.com/nette-forms@3/src/assets/netteForms.js"></script>
	{/block}
</body>
</html>
