{block css}
    {include parent}
    <link rel="stylesheet" href="{$basePath}/css/edit.css">
{/block}


{block content}
    <div id="edit">
    <h1>Editovat příspěvek</h1>

        <div class="container">
            {control postForm}
        </div>
    </div>
{/block}