main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    color: #C31952;
    font-size: 40px;
    margin: 30px;
}

h2 {
    font-size: 28px;
    margin-bottom: 15px;
    text-align: center;
}

.posts {
    background-color: #fff;
    width: 60%;
    max-width: 960px;
    border-radius: 20px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
}

.post {
    margin: 0 20px;
    padding: 20px;
    border-bottom: #C31952 dashed 1px;
}

.post:last-child {
    border-bottom: none;
}

.post h2 {
    margin-top: 0;
}

.post p {
    margin: 0;
}

.post a {
    color: #C31952;
}

.post a:hover {
    color: #E8497E;
}

.date {
    color: #888;
    font-size: 14px;
    margin-top: 10px;
    text-align: right;
}