{block css}
    {include parent}
    <link rel="stylesheet" href="{$basePath}/css/home.css">
{/block}

{block content}
	<div id="home">
		<h1>Blog</h1>

		<section class="container">
			<div n:foreach="$posts as $post" class="post">
				<h2><a n:href="Post:show $post->id">{$post->title}</a></h2>

				<p>{$post->content|truncate:256}</p>
				<small class="date">{$post->created_at|date:'F j, Y'}</small>
			</div>
		</section>
	</div>
{/block}